#custom-mode_switch{
	font-family: "JetBrainsMono Nerd Font", sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #de0b2e;

	margin: 4px 4px;
	padding: 0px 12px;

	background-color: #101018;
	border-radius: 1rem;

}
