#custom-player{
	color: #515357;
	background-color: rgba(31,32,44, 0.3);
	padding: 0 15px;
	border-radius: 8px;
	transition: all 0.3s ease;
}

#custom-player.Playing{
	color: #a6e3a1;
}

#custom-player.Paused{
	color: #6c7086;
}
